# Liabrary

In [2]:
import pandas as pd
import numpy as np

# Dataframe

In [3]:
df=pd.read_csv("C:\\Users\\Saravanan\\OneDrive\\Desktop\\Datasets_data\Stock_Market_Indexes.csv")

In [4]:
df

,Date,Name,Symbol,Open,High,Low,Close,Adj Close,Volume
0,05-04-2024,CAC 40,FCHI,8050.25,8062.01,8019.29,8061.31,8061.31,65166400
1,05-04-2024,ESTX 50 PR.EUR,STOXX50E,5043.61,5043.61,4985.67,5014.75,5014.75,36778900
2,05-04-2024,IPC MEXICO,MXX,57805.19,58227.84,57678.61,58092.44,58092.44,212252300
3,05-04-2024,Euronext 100 Index,N100,1526.03,1526.03,1510.35,1520.1,1520.1,387210200
4,05-04-2024,KOSPI Composite Index,KS11,2713.96,2730.47,2705.31,2714.21,2714.21,621000
...,...,...,...,...,...,...,...,...,...
50127,02-01-2018,Russell 2000,RUT,1536.12,1550.3,1536.12,1550.01,1550.01,3397430000
50128,02-01-2018,ALL ORDINARIES,AORD,6167.3,6177.4,6141.4,6166,6166,655733700
50129,02-01-2018,NYSE COMPOSITE,NYA,12860.93,12902.72,12842.27,12902.72,12902.72,3397430000
50130,02-01-2018,Cboe UK 100,BUK100P,771.24,771.24,763.96,765.5,765.5,-
50131,01-01-2018,S&P BSE SENSEX,BSESN,34059.99,34101.13,33766.15,33812.75,33812.75,7500

# Observation

Dependent Column - Adj Close,Close,Volume
Independent Column - Name,Symbol,Open,High,Low

In [5]:
Continuous_Column=['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Categorical_Column=[ 'Name', 'Symbol']

# Data Cleaning

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50132 entries, 0 to 50131
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       50132 non-null  object
 1   Name       50132 non-null  object
 2   Symbol     50132 non-null  object
 3   Open       50132 non-null  object
 4   High       50132 non-null  object
 5   Low        50132 non-null  object
 6   Close      50132 non-null  object
 7   Adj Close  50132 non-null  object
 8   Volume     50132 non-null  object
dtypes: object(9)
memory usage: 3.4+ MB

In [7]:
df.describe()

,Date,Name,Symbol,Open,High,Low,Close,Adj Close,Volume
count,50132,50132,50132,50132,50132,50132,50132,50132,50132
unique,1945,32,32,47267,47310,47141,47283,47285,31220
top,07-11-2018,CBOE Volatility Index,VIX,-,-,-,-,-,-
freq,32,1634,1634,1410,1410,1410,1410,1410,11661

In [8]:
df.isnull().sum()

Date         0
Name         0
Symbol       0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [9]:
df.duplicated().sum()

0

# Statistical analysis
Continuous - Central Limit Theorem, 1-Tailed Test (one-sample t-test)

Continuous vs. Continuous - Correlation, 2-Tailed Test (two-sample t-test)

Continuous vs. Categorical - ANOVA (Analysis of Variance)

Categorical vs. Categorical - Chi-Square Test

In [12]:
number_df=df.select_dtypes(include='number')
corr_m=number_df.corr()
corr_m

Empty DataFrame
Columns: []
Index: []

In [17]:
def hypothesis_testing(df,Continuous_Column=[],Categorical_Column=[],sample_size=20,sample_rate=0.05):
    df=df
    # Central limit theoram
    onecontinuouscolumn_Result = {}
    for column in Continuous_Column:
        population = df[column].dropna().to_numpy()  # Drop NaN values and convert column to NumPy array
        population_mean = np.mean(population)
       
        sample_mean = []

        # Generate samples and calculate sample mean
        for i in range(40):
            sample = np.random.choice(population, size=sample_size, replace=True)
            sample_mean.append(np.mean(sample))

        onecontinuouscolumn_Result[column] = {
            "Population Mean": population_mean,
            "Sample Mean": np.mean(sample_mean)
        }
    return onecontinuouscolumn_Result

In [19]:
ContinuousColumn_Result=hypothesis_testing(df,Continuous_Column)

TypeError: ufunc 'divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
ContinuousColumn_Result_df=pd.DataFrame(ContinuousColumn_Result)
ContinuousColumn_Result_df